#root {
    .card-container {
        padding: 15px;
    }
    
    .card {
        margin: 0 5px;

        .card-title {
            font-size: 14px;
            text-align: center;
            a {
                color: #fff;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .card-content {
            padding: 0;
        }
        .card-image {
            max-height: 235px;
            img {
                margin-bottom: 5px;
            }
        }
    }
}