.slider-row {
    margin-top: 20px;
    .col {
        padding: 0 50px;
    }
}

.slick-slider {
    height: 36px;
    .slick-next, 
    .slick-prev {
        &:before {
            color: #26a69a;
        }
    }

    .category-button {
        width: 95% !important;
        letter-spacing: normal;
        font-size: 12px;
        &.active {
            font-size: 13px;
            background-color: #11897d;
            text-decoration: underline;
        }
    }
}