.slider-row {
    margin-top: 20px;
    .col {
        padding: 0 50px;
    }
}

.slick-slider {
    height: 36px;
    .slick-next, 
    .slick-prev {
        &:before {
            color: #000;
        }
    }

    .category-button,
    .category-button:focus {
        letter-spacing: normal;
        font-size: 12px;
        text-align: center; 
        background-color: #fff;
        color: #000;
        padding: 10px;
        border: 1px solid #000;
        width: 100%;
        @media screen and (min-width: 500px) {
            width: 95% !important;
        }
        &.active {
            font-size: 13px;
            background-color: #000;
            color: #fff;
            text-decoration: underline;
        }
    }
}